section.cloth
    div.container

        div.title
            h2 Гид по тканям BeSelf
            i Выбирайте себе ткань, которая подойдёт именно вам!

        div.articles

            div.article
                div.text
                    h3 Supplex Sport Hit
                    span.materials (75% нейлон, 25% спандекс, 80% нейлон, 20% спандекс)
                    div.params
                        div.scale
                            div(style="left: 55%").scroller
                        span мягкая и лёгкая
                        span плотная и утягивающая

                    p Мягкая на ощупь ткань с превосходными эксплуатационными характеристиками, с высоким содержанием эластана. Приятно облегает тело, садится, как вторая кожа. Её бархатная текстура с двойной матовой отделкой обеспечивает наилучшую посадку. Идеальное сочетание комфорта и поддержки. Ткань дышит и отводит влагу, относится к категории премиум-сегмента.
                    ul.disc
                        li Плотная посадка;
                        li Оптимальный утягивающий эффект;
                        li Растягивается в 4 стороны;
                        li Двусторонняя матовая отделка;
                        li Бархатная фактура;
                        li Дышащая ткань с влагоотведением.
                    a.button.gray(href="category.html")  смотреть коллекцию
                div.images.two
                    img(src="images/collections/other/1.webp", alt="")
                    img(src="images/collections/other/2.webp", alt="")

            div.article
                div.images.ladder_right
                    img(src="images/collections/other/3.webp", alt="")
                    img(src="images/collections/other/4.webp", alt="")
                    img(src="images/collections/other/5.webp", alt="")
                div.text
                    h3 Supplex Yoga Hit
                    span.materials (75% нейлон, 25% спандекс, 68% полиэстер, 32% спандекс, 77% полиэстер, 23% спандекс)
                    div.params
                        div.scale
                            div(style="left: 25%").scroller
                        span мягкая и лёгкая
                        span плотная и утягивающая

                    p Самые мягкие и бархатистые ткани в нашем ассортименте. Мягкость достигается за счёт высокого ворса и не очень плотной ткани. Невероятно мягкая бархатистая ткань с высокой степенью эластичности создана для ещё большего комфорта во время тренировок. В одежде из такой ткани с лёгкостью можно принимать любые позы! Обеспечивается неограниченная свобода движений, создавая ощущение невесомости. Идеально подходит для «мягкого» фитнеса: йога, пилатес, растяжка, калланетика и т.д. Также подходит для силовых или аэробных нагрузок. Ткань относится к категории премиум-сегмента.
                    strong Почему вам понравится эта ткань:
                    ul.disc
                        li Комфортная посадка;
                        li Без утягивающего эффекта;
                        li Растягивается в 4 стороны;
                        li Двусторонняя матовая отделка;
                        li Бархатистая фактура;
                        li Дышащая ткань с влагоотведением;
                        li Абсолютная свобода движений;
                        li Самая мягкая ткань в одежде, которую вы когда либо носили!
                    a.button.gray(href="category.html")  смотреть коллекцию

            div.article
                div.text
                    h3 Supplex Cotton
                    span.materials ((87% нейлон, 13% спандекс))
                    div.params
                        div.scale
                            div(style="left: 25%").scroller
                        span мягкая и лёгкая
                        span плотная и утягивающая

                    p Мягкая нейлоновая ткань, по комфорту в одежде сравнима с высококачественным хлопком, а по прочности и долговечности - с лучшими синтетическими тканями, состоит из тонких волокон. Плотная, с невысокой степенью эластичности, прочная (устойчива к разрывам и проколам), обеспечивает повышенное влагоотведение, отличную воздухопроницаемость, быстро высыхает. Одежда из такой ткани идеально подходит для фитнеса и повседневной носки. Ткань относится к категории премиум-сегмента.
                    strong Почему вам понравится эта ткань:
                    ul.disc
                        li Плотная посадка;
                        li Небольшой утягивающий эффект;
                        li Ткань, как хлопок на ощупь, но в составе только синтетические нити;
                        li Дышащая ткань с влагоотведением.
                    a.button.gray(href="category.html")  смотреть коллекцию
                div.images.two
                    img(src="images/collections/other/6.webp", alt="")
                    img(src="images/collections/other/7.webp", alt="")

            div.article
                div.images.ladder_left
                    img(src="images/collections/other/8.webp", alt="")
                    img(src="images/collections/other/9.webp", alt="")
                div.text
                    h3 Matte Biflex
                    span.materials (82% полиэфир, 18% эластан)
                    div.params
                        div.scale
                            div(style="left: 25%").scroller
                        span мягкая и лёгкая
                        span плотная и утягивающая

                    p Матовое трикотажное полотно с умеренно гладкой фактурой российского производства. Ткань плотная, упругая, обладает высокой степенью растяжимости в 4-х направлениях. Одежда из этого материала практически не мнётся, хорошо стирается, прекрасно садится по фигуре, не сковывая движений, и долго сохраняет свой первоначальный вид. Ткани этого типа бывают разной степени плотности. Одежда из Matte Biflex подходит для любого вида спорта, кроме очень интенсивных тренировок со значительным повышением температуры тела и активным потоотделением. Пользоваться изделиями с липучками в такой одежде нужно с осторожностью, так как они могут оставить зацепки. Ткань относится к категории масс-маркет.
                    strong Почему вам понравится эта ткань:
                    ul.disc
                        li Упругая ткань;
                        li Создаёт эффект комфортной компрессии;
                        li Тянется в 4 стороны;
                        li Умеренно гладкая фактура.
                    a.button.gray(href="category.html")  смотреть коллекцию

            div.article
                div.text
                    h3 BS Cool Touch
                    span.materials (73% нейлон, 27% спандекс)
                    div.params
                        div.scale
                            div(style="left: 25%").scroller
                        span мягкая и лёгкая
                        span плотная и утягивающая

                    p #[b Новая ткань в ассортименте BeSelf.] #[br] Гладкая, приятная на ощупь, упругая ткань с абсолютно матовой фактурой создаёт ощущение прохлады на коже. Одежда из этой ткани идеально подходит для интенсивных тренировок, она впитывает влагу и быстро высыхает. Пожалуй, это самая непросвечивающая ткань в ассортименте одежды BeSelf. Плотное сплетение нитей полотна также делает её устойчивой к образованию катышков и зацепок. Плотная посадка обеспечивает утягивающий эффект. Ткань относится к категории премиум-сегмента.
                    strong Почему вам понравится эта ткань:
                    ul.disc
                        li Плотная посадка;
                        li Небольшой утягивающий эффект;
                        li Впитывает влагу;
                        li Быстро высыхает;
                        li Защита от зацепок и катышек;
                        li Ощущение прохладного прикосновения;
                        li Плотная непросвечивающая ткань.
                    strong.soon Скоро в наличии
                div.images.two
                    img(src="images/collections/other/1.webp", alt="")
                    img(src="images/collections/other/2.webp", alt="")