section.main
    div.container
        div.wrap
            h2 Сервис и поддержка

            div.menu
                a(href="delivery.html").link Доставка
                a(href="return.html").link Возврат и обмен
                a(href="payment.html").link Оплата
                a(href="faq.html").link.active Вопросы и ответы

            div.block
                h3 Доставка
                div.accordions
                    div.accordion
                        div.accordion_caption
                            strong Где мой заказ?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Мы знаем, что вы хотите получить заказ максимально быстро и сообщаем вам каждый этап:
                                    span 1. Оплата: вам придёт письмо, когда заказ будет оплачен.
                                    span 2. Доставка: вы получите письмо с трек-номером для отслеживания, когда заказ будет передан в транспортную компанию. Нет письма? Пожалуйста, проверьте папку «Спам». Если нет в папке «Спам», свяжитесь с нашими менеджерами.
                                    span 3. Вручение:
                                    span — при курьерской доставке: вы получите СМС, когда заказ приедет в ваш город. Это значит, что скоро с вами свяжется курьер.
                                    span — при доставке в ПВЗ: вы получите СМС, когда заказ поступит в пункт выдачи.
                    div.accordion
                        div.accordion_caption
                            strong Куда мы доставляем заказы?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Мы осуществляем доставку по всему Миру — без исключений. Но платежи могут проходит не со всех стран.
                    div.accordion
                        div.accordion_caption
                            strong Условия, сроки и стоимость доставки?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Со всей информацией по условиям доставки вы можете ознакомиться в разделе Доставка по ссылке: (ссылка)
                    div.accordion
                        div.accordion_caption
                            strong У вас есть примерка?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Нет. Но у нас Бесплатная доставка от 4 000 ₽ и Обмен и мы позаботились о том, чтобы она вам не понадобилась:
                                    ol
                                        li 1. Обмеры: указаны для каждого товара под размером.
                                        li 2. Выбор размера: воспользуйтесь инструкцией в карточке товара в разделе «Таблица размеров», чтобы правильно себя обмерить.
                                        li 3. Помощь менеджера: поможем вам с выбором размера, напишите нам в любой чат на сайте свои параметры в сантиметрах.
                                        li 4. Бесплатный обмен: вы можете примерить изделие дома, посмотреть как оно подходит к вашему спортивному гардеробу, без спешки и, если не подойдёт, оформить бесплатный обмен в течение 14 дней или сделать возврат в течение 14 дней с момента получения заказа.
                    div.accordion
                        div.accordion_caption
                            strong Мне не пришёл трек-номер. Что делать?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Проверьте, пожалуйста, папку «Спам». Если письма нет — напишите нам в любом чате, и мы все решим.
            
            div.block
                h3 ТОВАРЫ
                div.accordions
                    div.accordion
                        div.accordion_caption
                            strong Как выбрать размер?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Очень просто: 
                                    ol
                                        li 1. Обмеры: указаны для каждого товара под размером.
                                        li 2. Выбор размера: воспользуйтесь инструкцией, чтобы правильно себя обмерить.
                                        li 3. Помощь менеджера: поможем вам с выбором, напишите нам в любой чат на сайте.
                    div.accordion
                        div.accordion_caption
                            strong Нужного мне товара нет в наличии, появится ли он снова?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Мы пополняем наш сайт новинками или повторяем хиты продаж. Мы проинформируем вас о поступлении. Для этого:
                                    ol 
                                        li 1. Выберите товар и размер.
                                        li 2. Нажмите Сообщить о поступлении или Предзаказ
                                        li 3. Укажите ваш email
                                    span Нам важно знать, что товар вам нравится и вы его ждёте. Чем больше от вас будет заявок, тем быстрее мы повторим тираж.
                                    br
                                    span Внимание! Подписка на размер не бронирует товар. Если вам пришло уведомление о том, что товар появился в наличии, вам необходимо оформить заказ через сайт.
                    div.accordion
                        div.accordion_caption
                            strong Какие материалы вы используете для своих коллекций?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Для пошива своих коллекций мы используем синтетические материалы премиум качества: нейлон со спандексом, полиэстер со спандексом. Вы можете ознакомиться более подробно с нашими тканями в разделе «Гид по тканям»
                    div.accordion
                        div.accordion_caption
                            strong Как ухаживать за одеждой?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    ul.disc
                                        li Стирать вручную при 30гр; 
                                        li Стирка в машинке допускается, но не забудьте положить в сетку для стирки и включить деликатный режим с низкими оборотами;
                                        li Тёмные и яркие цвета стирать отдельно;
                                        li Разные составы и виды тканей стирать раздельно;
                                        li Использовать мягкие моющие средства (гели для деликатной стирки);
                                        li Не использовать отбеливающие вещества;
                                        li В машинке сушить нельзя;
                                        li Гладить можно на низкой температуре утюга или использовать парогенератор;
                                        li Бархатистые ткани нельзя использовать вместе с латексными резинками. Не рекомендуется частое трение с другими предметами (особенно со штангами с шероховатой поверхностью).
                                        li Изделия с перфорацией надевать очень аккуратно. За дырочки не тянуть, не растягивать и тд.
                    
            div.block
                h3 ЗАКАЗ
                div.accordions
                    div.accordion
                        div.accordion_caption
                            strong Как изменить заказ?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Напишите нам в любой чат на сайте. 
                                    br
                                    span Внимание! Изменить заказ можно до тех пор, пока мы не отправим его на сборку.
                    div.accordion
                        div.accordion_caption
                            strong Как отменить заказ?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Напишите нам в любой чат на сайте. Или отмените самостоятельно в личном кабинете.
                    div.accordion
                        div.accordion_caption
                            strong У меня есть промо-код. Как его использовать?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Для пошива своих коллекций мы используем синтетические материалы премиум качества: нейлон со спандексом, полиэстер со спандексом. Вы можете ознакомиться более подробно с нашими тканями в разделе «Гид по тканям» (ссылка)
                    div.accordion
                        div.accordion_caption
                            strong Как получить скидку на первый заказ?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Легко! #[br]Зарегистрируйтесь в личном кабинете и вам будут начислены приветсвеные 300 баллов.
                    div.accordion
                        div.accordion_caption
                            strong У вас есть розничный магазин, где можно померить?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span На данный момент у нас всего один розничный магазин в Москве. Метро Динамо, Ленинградский проспект 36, ТЦ Арена Плаза, 1 этаж.
                    div.accordion
                        div.accordion_caption
                            strong Можно заказать несколько товаров на выбор?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Разумеется! Вы можете заказать неограниченное количество товаров.
                                    span Сомневаетесь в размере? Воспользуйтесь инструкцией, чтобы правильно себя обмерить.
                                    br
                                    span Нужна помощь? Напишите нам в любой чат на сайте.

            div.block
                h3 ОПЛАТА
                div.accordions
                    div.accordion
                        div.accordion_caption
                            strong Как оплатить?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Банковской картой на сайте без комиссии. К оплате принимаются: Visa, Mastercard, Maestro, Мир. 
                                    ol
                                        li 1. Оформите заказ: Выберите товары, заполните данные в корзине и нажмите «Оформить заказ»
                                        li 2. У вас откроется платёжная страница СберБанк. Укажите email для получения электронного чека об оплате. 
                                        li 3. Выберите способ оплаты: введите данные своей банковской карты или выберите систему мобильных платежей.
                                        li 4. Нажмите «Оплатить»
                                        li 5. Введите код из СМС: при оплате картой вам откроется страница для ввода кода подтверждения, который придёт в СМС на ваш мобильный номер, привязанный к карте. 
                                        li 6. Получите чек: после успешной оплаты на ваш email, указанный ранее, поступит чек.
                                    br
                                    span Внимание! Мы НЕ принимаем оплату наличными, переводом с карты на карту физ.лицу, через Яндекс.Деньги или иные платёжные сервисы.
                    div.accordion
                        div.accordion_caption
                            strong Я могу перевести деньги на карту?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Нет. Мы официальный интернет-магазин и работаем через платёжную систему Robocassa.
                                    span Мы никогда не просим перевести оплату на карту физического лица, ЯндексДеньги и иные платёжные сервисы.
                                    span Оплата заказа производится только на сайте или по официальной ссылке на оплату.
                                    span Внимание! Если кто‑то вам предложил осуществить перевод средств на карту или реквизиты физического лица — это мошенничество! Сообщите нам в любом чате на сайте или напишите нам на email info@veselfwear.ru
                    div.accordion
                        div.accordion_caption
                            strong Я боюсь оплачивать картой. Где гарантии, что это безопасно?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Вам ни о чем беспокоиться не нужно. 
                                    ol
                                        li 1. Мы принимаем оплату через официальный платёжный сервис Robocassa.
                                        li 2. Оплата взымается без комиссии. 
                                        li 3. После ввода данных карты, вам на телефон придёт СМС-код подтверждения, без ввода которого сумма не спишется. 
                                    span Мы дорожим своими клиентами и гарантируем полную безопасность ваших персональных данных.
                    div.accordion
                        div.accordion_caption
                            strong Мне не приходит код — подтверждение, что делать?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Проверьте, что:
                                    ol
                                        li 1. Номер телефона привязан к карте, с которой производите оплату.
                                        li 2. Номер телефона введён без ошибок. Если номер уже вписан в строку, необходимо выключить автозаполнение на устройстве, с которого производите оплату.
                                    span Все верно, но код не пришёл? Обратитесь в ваш банк для уточнения.
            
            div.block
                h3 ВОЗВРАТ. ОБМЕН
                div.accordions
                    div.accordion
                        div.accordion_caption
                            strong Как оформить обмен?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Вам не подошёл размер? Оформите обмен на другой размер или товар с нашего сайта в течение 14 дней с момента получения заказа! 
                                    span Для этого:
                                    ol
                                        li 1. Сделайте новый заказ на сайте на товары, которые хотите получить в обмен.
                                        li 2. Не оплачивайте его, в комментарии к заказу напишите слово «Обмен».
                                        li 3. Мы свяжемся с вами, чтобы завершить оформление и сэкономить ваше время.
                                    span Ознакомиться с условиями оформления обмена можно #[a(href="return.html") здесь].
                    div.accordion
                        div.accordion_caption
                            strong Как оформить возврат?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Это просто! Товар можно вернуть в течение 14 календарных дней после получения заказа. Для этого:
                                    ol
                                        li 1. Заполните заявление на возврат — мы кладём его в каждый заказ.
                                        li 2. Оригинал вложите в посылку, а фото или скан отправьте нам на почту vozvrat@beselfwear.ru. 
                                        li 3. Отправьте трек-номер посылки нашим менеджера для отслеживания.
                                    span Мы получим посылку и проинформируем вас об этом письмом на почту. 
                                    span Ознакомиться с подробной инструкцией и оформить возврат можно #[a(href="return.html") здесь].
                    div.accordion
                        div.accordion_caption
                            strong Когда вернут деньги за заказ?
                            img(src="images/select_arrow.svg", alt="")
                        div.accordion_content
                            div.accordion_overflow
                                div.accordion_wrap
                                    span Возврат денежных средств занимает до 10 рабочих дней с момента, как мы получили и проверили ваш возврат на складе.
                                    span Внимание! Срок зачисления денежных средств на ваш счёт зависит от банка эмитента, и может занимать от 2 до 25 дней.
                                    span Если я оплачу, а мне не подойдёт, можно отдать этому же курьеру или оставить в пвз?Нет, этого делать не нужно. Если вы отдадите оплаченный заказ обратно в курьерскую службу на доставке, то срок возврата вашей посылки на наш склад увеличится на 1 неделю. 
                                    span Мы понимаем, что вы хотите оформить возврат как можно быстрее и без проблем, для этого ознакомьтесь с нашей инструкцией #[a(href="return.html") здесь].
                   
