section.empty
    div.container
            
        h2 Корзина

        div.products
            img(src="images/empty_image.svg", alt="")
            span В вашей корзине нет покупок
            div.buttons
                a.button.gray Войти
                a.button.border(href="catalog.html") Каталог
