section.about 
    div.container
        div.image
            img(src="images/collections/3.webp", alt="")
        div.text
            h2 BeSelf - Российский бренд одежды для спорта и отдыха
            span Мы производим не только красивую, удобную спортивную одежду, но и мотивируем, вдохновляем тысячи девушек идти вперёд и создавать тело своей мечты. Мы производим не только красивую, удобную спортивную одежду, но и мотивируем, вдохновляем тысячи девушек идти вперёд и создавать тело своей мечты.
            a.link(href="about.html") подробнее

            div.symbol
                include ../../../images/logotype_symbol.svg