section.active_collection
    img(src="images/collections/6.webp", alt="").background
    div.container
        div.description
            div.symbol
                include ../../../images/logotype_symbol.svg
            div.text
                h2 Active collection
                span Купи сейчас, плати потом
                a(href="category.html").link Смотреть коллекцию
        div.image
            img(src="images/collections/4.webp", alt="")
