section.advantages
    div.container
        div.advantage
            div.icon: img(src="images/advantages/1.svg", alt="")
            h4 Необычный дизайн
        div.advantage
            div.icon: img(src="images/advantages/2.svg", alt="")
            h4 Бесплатная #[br]доставка от 4 000 ₽
        div.advantage
            div.icon: img(src="images/advantages/3.svg", alt="")
            h4 Приятные ткани
        div.advantage
            div.icon: img(src="images/advantages/4.svg", alt="")
            h4 Капсульные #[br]коллекции