section.blog
    div.container
        div.title
            h2 Блог
            a.link(href="blog.html") Все статьи
        div.swiper
            div.swiper-wrapper
                div.swiper-slide.article
                    div.image
                        a(href="article.html"): img(src="images/blog/1.webp", alt="")
                        a.card_tag(href="blog.html") Спорт
                    div.text
                        span.date 27.06.2023
                        a(href="article.html"): h3 Как подобрать спортивный топ-бра?
                        span Никому не нравится, когда грудь во время пробежки и других подвижных тренировок находится в свободном полёте. И едва ли доставляют радость красные следы и полосы…
                div.swiper-slide.article
                    div.image
                        a(href="article.html"): img(src="images/blog/2.webp", alt="")
                        a.card_tag(href="blog.html") Спорт
                    div.text
                        span.date 27.06.2023
                        a(href="article.html"): h3 Что нужно знать о кардио­тренировках
                        span Тренировка из категории кардио — это любая физическая активность (аэробная), во время которой частота сердечных сокращений (ЧСС, или пульс) ускоряется, а дыхание учащается…
                div.swiper-slide.article
                    div.image
                        a(href="article.html"): img(src="images/blog/3.webp", alt="")
                        a.card_tag(href="blog.html") Спорт
                    div.text
                        span.date 27.06.2023
                        a(href="article.html"): h3 ANIMAL FLOW - новое направление в тренинге
                        span Никому не нравится, когда грудь во время пробежки и других подвижных тренировок находится в свободном полёте…