section.categories
    div.container
        a.category(href="category.html") 
            div.image
                img(src="images/categories/1.webp", alt="")
                include ../../../images/logotype_symbol.svg
            div.title
                h3 Лосины #[img(src="images/category_arrow.svg", alt="")]
        a.category(href="category.html")
            div.image
                img(src="images/categories/2.webp", alt="")
                include ../../../images/logotype_symbol.svg
            div.title
                h3 Спортивные бра #[img(src="images/category_arrow.svg", alt="")]
        a.category(href="category.html")
            div.image
                img(src="images/categories/3.webp", alt="")
                include ../../../images/logotype_symbol.svg
            div.title
                h3 Кроп-топы #[img(src="images/category_arrow.svg", alt="")]
        a.category(href="category.html")
            div.image
                img(src="images/categories/4.webp", alt="")
                include ../../../images/logotype_symbol.svg
            div.title
                h3 Велосипедки #[img(src="images/category_arrow.svg", alt="")]
        a.category(href="category.html")
            div.image
                img(src="images/categories/5.webp", alt="")
                include ../../../images/logotype_symbol.svg
            div.title
                h3 Кофты на молнии #[img(src="images/category_arrow.svg", alt="")]
        a.category(href="category.html")
            div.image
                img(src="images/categories/6.webp", alt="")
                include ../../../images/logotype_symbol.svg
            div.title
                h3 Майки #[img(src="images/category_arrow.svg", alt="")]
