section.motion_collection
    div.container
        div.image
            img(src="images/motion_collection.webp", alt="")
        div.text
            h2 Motion collection
            span Купи сейчас, плати потом
            a(href="category.html").link Смотреть коллекцию