section.soft_cover_collection
    img(src="images/collections/5.webp", alt="").background
    div.container
        div.image
            img(src="images/collections/4.webp", alt="")
        div.description
            div.symbol
                include ../../../images/logotype_symbol.svg
            div.text
                h2 Soft Cover colletion
                span Купи сейчас, плати потом
                a(href="category.html").link Смотреть коллекцию
