section.empty
    div.container
    
        a.back(href="javascript:history.back()")
            img(src="images/product/back_arrow.svg", alt="")
            span Назад
            
        h2 Избранное

        div.products
            img(src="images/empty_image.svg", alt="")
            span В Избранном пока нет товаров
            a.button.gray(href="catalog.html")  Начать шопинг
