section.signin
    div.container
        p Чтобы товары из Избранного сохранились, вам нужно войти или зарегестрироваться
        span Это займёт не более 2-х минут
        div.buttons
            button.gray(data-modal-target="authorise") Войти
            button.border(data-modal-target="register") регистрация