section.about
    div.container
        div.text
            h2 Одежда BeSelf – must have каждой фитнес леди.
            p Одно из важных преимуществ — цветовая палитра. Мы стараемся поддерживать в ассортименте большое количество разнообразных оттенков. Почти все коллекции мы шьём капсулами. Все коллекции между собой можно миксовать. Мы — не массовый продукт. Мы яркие, необычные. Мы не такие, как все.
            p В пошиве наших изделий мы используем новые премиальные технологичные ткани, которые на ощупь, как мягкое облачко. Подобные ткани используют международные премиум бренды в своих коллекциях. Ознакомьтесь подробнее с нашими тканями в разделе «Гид по тканям».
            div.buttons
                button.gray Оформить заказ
                button.border Узнать о скидках
        div.image
            img(src="images/wholesale/about.webp", alt="")