section.advantages
    div.container
        h3 Продавать Beself вместе — путь #[br]к увеличению вашей прибыли!
        div.list
            div.advantage
                div.icon: img(src="images/advantages/1.svg", alt="")
                h4 Функциональность
                span Не растягивается, не деформируется. Сохраняет свою эластичность на долгое время.
            div.advantage
                div.icon: img(src="images/advantages/6.svg", alt="")
                h4 Доступность
                span Модели BeSelf созданы для современных девушек по доступным ценам, на любой вкус и бюджет.
            div.advantage
                div.icon: img(src="images/advantages/7.svg", alt="")
                h4 Гарантия обмена
                span В случае выявления бракованного товара, мы его обменяем или вернём за него деньги.
            div.advantage
                div.icon: img(src="images/advantages/5.svg", alt="")
                h4 Спрос
                span Спортивная одежда становится неотъемлемой частью нашего гардероба, а бархатистые ткани - must have сегодняшнего дня.
