section.benefit
    div.container
        h2 Кому выгодно #[br]с нами сотрудничать?
        div.list
            div.item
                div.image
                    img(src="images/wholesale/benefit_1.webp", alt="")
                span Фитнес-тренерам
            div.item
                div.image
                    img(src="images/wholesale/benefit_2.webp", alt="")
                span Магазинам спортивного питания
            div.item
                div.image
                    img(src="images/wholesale/benefit_3.webp", alt="")
                span Фитнес клубам
            div.item
                div.image
                    img(src="images/wholesale/benefit_4.webp", alt="")
                span Мульти­брендовым магазинам