section.consulting
    div.container
        div.text
            h2 Хотите стать оптовым клиентом или получить консультацию?
            span Оставьте свою заявку и мы свяжемся #[br]с вами в течение 1 рабочего дня.
            button.gray Получить условия
        div.images
            img(src="images/wholesale/consulting_1.png", alt="")
            img(src="images/wholesale/consulting_2.png", alt="")