section.cooperation
    div.container
        h2 Как начать #[br]сотрудничать с нами?
        div.stages
            div.stage
                h3 Оставить заявку
                span Оставьте вашу заявку на сайте. Менеджер свяжется с вами в ближайшее время
            div.stage
                h3 Заказ
                span Мы поможем подобрать позиции для вашего ассортимента с учётом успешных продаж.
            div.stage
                h3 Доставка
                span Отправка на следующий день после оплаты с нашего склада в г. Москва.
            div.stage
                h3 Готово
                span Вы официальный представитель бренда BeSelf.