section.main
    div.container
        div.text
            h1 Оптовым клиентам
            span BeSelf - российский бренд одежды для спорта #[br]и отдыха, активно развивающийся на рынке.
            button Присоединиться
    div.background
        img(src="images/motion_collection.webp", alt="")