section.material
    img(src="images/collections/5.webp", alt="").background
    div.container
        div.text
            h2 BeSelf - яркая и удобная одежда для фитнеса
            ul.disc
                li Весь товар в наличии на складе;
                li Работаем с юр. лицами;
                li Отправим товар на следующий день после оплаты;
                li Работаем по системе дропшиппинга.
            div.advantages
                div.advantage
                    div.icon
                        img(src="images/advantages/16.svg", alt="")
                    span Быстро #[br]сохнет
                div.advantage
                    div.icon
                        img(src="images/advantages/13.svg", alt="")
                    span Визуально #[br] корректирует фигуру
                div.advantage
                    div.icon
                        img(src="images/advantages/14.svg", alt="")
                    span Испаряет #[br]влагу
                div.advantage
                    div.icon
                        img(src="images/advantages/15.svg", alt="")
                    span Тянется #[br]во все стороны
        div.image
            img(src="images/collections/4.webp", alt="")