section.wonders
    div.container
        div.text
            h2 Наша одежда творит чудеса!
            span Продавайте вместе с нами одежду BeSelf и получайте восторженные отзывы покупательниц!

    include ../../../images/logotype_symbol.svg