section.partners
    div.container
        div.title
            h2 Партнёрства и сотрудничества
            span Бренд BeSelf сотрудничает с фитнес-клубами Москвы, выступает партнёром различных спортивных мероприятий(фитнес-фестивалей, туров, конвенций и турниров)и экспонентом профильных выставок
        div.list
            div.partner
                div.image
                    img(src="images/partners/1.webp", alt="")
                div.description
                    h4 NBC
                    i National Bodybuilding Community - Федерация Современного Бодибилдинга и Фитнеса. участие в качестве одного из спонсоров мероприятия, награждение победителей.
            div.partner
                div.image
                    img(src="images/partners/2.webp", alt="")
                div.description
                    h4 СОЧНЫЙ FITNESS FESTIVAL
                    i Фитнес-туры в Сочи для любителей активного отдыха и спорта
            div.partner
                div.image
                    img(src="images/partners/3.webp", alt="")
                div.description
                    h4 Фитнес-клуб Janinn Fitness
                    span Рекламная кампания, сертификаты для награждения победителей конкурсов клуба.
            div.partner
                div.image
                    img(src="images/partners/4.webp", alt="")
                div.description
                    h4 Фитнес клуб 100%
                    span Предоставили костюмы BeSelf для девушек-тренеров клуба. Маркетинговая рекламная кампания внутри клуба.
            div.partner
                div.image
                    img(src="images/partners/5.webp", alt="")
                div.description
                    h4 SN PRO
                    i Выставка-фестиваль здорового образа жизни и спорта
                    span Новинки спортивной индустрии, лекции и мастер-классы, полные трибуны соревнований, впечатляющие атлеты — все это SN PRO EXPO FORUM… По масштабам представленных мульти-спортивных мероприятий SN PRO не имеет себе равных в России. Выставка-фестиваль охватывает практически все разделы спортивной и ЗОЖ индустрии: популярную тему wellness, спортивное питание, оборудование, одежду, обувь и экипировку, товары и аксессуары для спорта и фитнеса, новые технологии и услуги в спорте.
                    a.link(href="###") Подробнее 
            div.partner
                div.image
                    img(src="images/partners/6.webp", alt="")
                div.description
                    h4 Yashankin Sports Festival
                    span «Yashankin Sports Festival» - ежегодное спортивно-зрелищное мероприятие, фестиваль спорта и здорового образа жизни для всей семьи.
            div.partner
                div.image
                    img(src="images/partners/7.webp", alt="")
                div.description
                    h4 OPEN FITNESS CAMP
                    i Фитнес-туры для настоящих любителей здорового образа жизни
                    span Фитнес-туры для настоящих любителей здорового образа жизни. Это команда сертифицированных, профессиональных инструкторов групповых программ… персональных тренеров, российских и международных призентеров. Это команда любителей и профессионалов фитнеса, желающих с пользой провести свой отпуск на берегу средиземного моря. Это 8 дней и 7 ночей, наполненных фитнесом, спортом, играми и вечеринками, солнцем, морем и прекрасным настроением.
                    a.link(href="###") Подробнее 
            div.partner
                div.image
                    img(src="images/partners/8.webp", alt="")
                div.description
                    h4 Russian Fitness Fair
                    span Крупнейший международный фестиваль фитнеса в Восточной Европе. BeSelf принимало участие в качестве одного из партнеров мероприятия и участие в качестве экспонентов
            div.partner
                div.image
                    img(src="images/partners/9.webp", alt="")
                div.description
                    h4 Let Be Fit
                    i Фитнес-конвенция
                    span Крупнейший международный фестиваль фитнеса в Восточной Европе. BeSelf принимало участие в качестве одного из партнеров мероприятия и участие в качестве экспонентов
            div.partner
                div.image
                    img(src="images/partners/10.webp", alt="")
                div.description
                    h4 Fitness Fest
                    span фитнес-конвенция для тренеров. BeSelf вручало подарки победителям конвенции.