section.instruction
    div.container
        h2 Как совершить покупку?

        div.list
            div.step
                h4 Оформите заказ
                span через сайт
            div.step
                h4 Дождитесь #[br]подтверж­дения
            div.step
                h4 Получите #[br]трек-номер
                span Когда заказ будет передан в транспортную компанию, вы получите письмо с трек-номером.
            div.step
                h4 Получите #[br]ваш заказ
                span Вы получите СМС, когда заказ приедет в ваш город и сможете назначить удобные дату и время доставки.