section.main
    div.container
        div.wrap
            h2 Сервис и поддержка

            div.menu
                a(href="delivery.html").link.active Доставка
                a(href="return.html").link Возврат и обмен
                a(href="payment.html").link Оплата
                a(href="faq.html").link Вопросы и ответы

            div.accordion

                div.accordion_caption
                    h3 Доставка по Москве
                    img(src="images/select_arrow.svg", alt="")
                
                div.accordion_content 
                    div.accordion_overflow
                        div.accordion_wrap

                            table
                                thead
                                    tr
                                        td Вид доставки
                                        td Сроки
                                        td Стоимость
                                tbody
                                    tr
                                        td Самовывоз со склада*
                                        td(data-text="Сроки") Сегодня #[span В рабочие часы]
                                        td(data-text="Стоимость") Бесплатно
                                    tr
                                        td В пункт выдачи CДЭК
                                        td 1–3 дня
                                        td 150 ₽ #[span Бесплатно при заказе от 4 000 ₽]
                                    tr
                                        td Курьером CДЭК
                                        td 1–3 дня
                                        td 300 ₽ #[span Бесплатно при заказе от 7 000 ₽]
                                    tr
                                        td Экспресс доставка**
                                        td Сегодня #[span При заказе до 12]
                                        td 550 ₽ #[span Бесплатно при заказе от 10 000 ₽]
                            
                            div.notes
                                div.note
                                    span.stars *
                                    span Находится на метро Строгино, улица Кулакова 20с1А, Технопарк Орбита. Работаем по будням с 9:30 до 17. По выходным и праздничным дням офис не работает. Забрать заказ возможно только после предварительного согласования с менеджером. В точке самовывоза нет услуги примерки товара.
                                div.note
                                    span.stars **
                                    span Доставка пешими курьерами осуществляется только в будние рабочие дни. Доставка в пределах МКАД. При отказе от получения заказа после отправки с нашего склада, стоимость доставки не возвращается. Если доставка была 0 ₽, денежные средства будут возвращены за вычетом доставки (стоимость по запросу у менеджеров).
            
            div.accordion

                div.accordion_caption
                    h3 Доставка по России и СНГ
                    img(src="images/select_arrow.svg", alt="")
                
                div.accordion_content 
                    div.accordion_overflow
                        div.accordion_wrap

                            table
                                thead
                                    tr
                                        td Вид доставки
                                        td Стоимость
                                tbody(style="text-align: left")
                                    tr
                                        td В пункт выдачи CДЭК
                                        td.onlymobile: strong Стоимость
                                        td От 4 000 ₽ - бесплатная
                                    tr
                                        td Курьером CДЭК
                                        td.onlymobile: strong Стоимость
                                        td От 7 000 ₽ - бесплатная
                                    tr
                                        td Почтой России
                                        td.onlymobile: strong Стоимость
                                        td От 4 000 ₽ - бесплатная.
                                    tr
                                        td Срочная доставка EMS*
                                        td.onlymobile: strong Стоимость
                                        td От 12 000 ₽
                            
                            div.notes
                                div.note
                                    span.stars *
                                    span При отказе от получения заказа после отправки с нашего склада, стоимость доставки не возвращается. Если доставка была 0 ₽, денежные средства будут возвращены за вычетом доставки (стоимость по запросу у менеджеров).
                                div.note
                                    span.stars **
                                    span Находится на метро Строгино, улица Кулакова 20с1А, Технопарк Орбита. Работаем по будням с 9:30 до 17. По выходным и праздничным дням офис не работает. Забрать заказ возможно только после предварительного согласования с менеджером. В точке самовывоза нет услуги примерки товара.
            
            div.accordion

                div.accordion_caption
                    h3 Международная доставка
                    img(src="images/select_arrow.svg", alt="")
                
                div.accordion_content 
                    div.accordion_overflow
                        div.accordion_wrap

                            table
                                thead
                                    tr
                                        td Вид доставки
                                        td Сроки
                                        td Стоимость
                                tbody
                                    tr
                                        td Курьерская служба DHL
                                        td 1–7 рабочих дня
                                        td
                                            p(style="text-align: left") Для расчёта стоимости доставки, напишите в наш отдел по работе с клиентами в WhatsApp.
                                            button.gray Написать
                            
                            div.notes
                                div.note
                                    span.stars *
                                    span При отказе от получения заказа после отправки с нашего склада, стоимость доставки не возвращается. Если доставка была 0 ₽, денежные средства будут возвращены за вычетом доставки (стоимость по запросу у менеджеров).
                                div.note
                                    span.stars **
                                    span Находится на метро Строгино, улица Кулакова 20с1А, Технопарк Орбита. Работаем по будням с 9:30 до 17. По выходным и праздничным дням офис не работает. Забрать заказ возможно только после предварительного согласования с менеджером. В точке самовывоза нет услуги примерки товара.

            div.text
                h3 Важная информация перед оформлением заказа
                p Все заказы отправляются с нашего единственного склада в России (из Москвы). Все товары облагаются НДС, который добавляется таможней и оплачивается получателем. В некоторых случаях международные посылки могут задерживаться таможней, за которую BeSelf не может нести ответственность. Помните об этом, прежде чем совершить покупку, так как это может задержать доставку.

            div.text
                h3 Международные пошлины и таможенные сборы
                p Cо всех иностранных клиентов (за пределами РФ) может потребоваться оплатить соответствующие пошлины за импорт, таможенные сборы при получении вашего заказа (который является отдельной суммой к вашему заказу BeSelf). BeSelf взимает только те сборы, которые указаны в заказе BeSelf. Мы не можем предоставить точную сумму налога, пошлин и таможенных сборов, которые определяются вашим местным правительством. Если вы все ещё не уверены в том, будет ли облагаться таможенными пошлинами ваш заказ, мы рекомендуем обратиться к местному таможенному органу за дополнительной информацией, прежде чем оформить заказ. Если вы решите отказаться от таможенной пошлины и посылка возвращается обратно в BeSelf, с вашего возврата может быть вычтена плата за доставку и обработку. Если вы решили отказаться от получения заказа после отправки посылки, денежные средства за товар будут возвращены вам после получения посылки обратно на наш склад, за вычетом понесённых нами расходов на отправки.











