section.return
    div.container
        div.wrap
            div.text
                h3 Не подошло?
                span Вы можете в любой момент отказаться от товара.
                button.gray Подробнее о возврате
            div.image
                img(src="images/service/return.svg", alt="")