section.shops
    div.container
        h2 Магазины
        div.image
            img(src="images/office.webp", alt="")
        div.content
            h3 ТЦ Арена Плаза
            div.undergrounds
                div.underground
                    div(style="background-color: #33AD43")
                    span Динамо
                div.underground
                    div(style="background-color: #005EB6")
                    span Строгино
            div.phone
                strong Телефон:
                a(href="tel:79918561858") +7 991 856-18-58
            div.adress
                strong Адрес:
                span Москва, Ленинградский проспект 36, 1 этаж
            div.schedule
                strong График работы:
                span Ежедневно 10:00–22:00
            div(data-modal-target="dolyame").dolyame
                span В магазине есть оплата Долями
                img(src="images/dolyamy_fill.svg", alt="")
        div.links
            a(href="###") Смотреть на карте
            a(href="###") Смотреть на плане ТЦ