section.seo
    div.container
        div.question
            i Не нашли ответ на свой вопрос? Свяжитесь с нами и мы ответим как можно скорее.
            div.socials
                a(href="###")
                    include ../../images/telegram.svg
                a(href="###")
                    include ../../images/whatsapp.svg
                a(href="###")
                    include ../../images/instagram.svg
        div.text
            p BeSelf — российский бренд женской одежды для спорта и отдыха. Он создан для тех, кто следит за трендами и ценит сочетание качества, красоты и удобства во всем. Для тех, кого мы вдохновляем и мотивируем идти к своим целям и становиться лучше. В каталоге большой ассортимент спортивной экипировки из нескольких модных коллекций. Мы создаем одежду капсулами, поэтому к любому верху вы точно подберете низ. Это необязательно топ и лосины, рашгарды и велосипедки, например, тоже будут отлично сочетаться. В BeSelf можно собрать гардероб из вещей, которые гармонично комбинируются между собой. Вы создадите десятки уникальных стильных образов для тренировок, путешествий и повседневной жизни.
            a(onclick="this.parentElement.classList.toggle('full')")
                span Подробнее
                span Скрыть