section.main
    div.container
        img(src="images/success.svg", alt="")

        div.text
            h2 Ваш заказ успешно оформлен!
            span Заказ № 5678908 от 25.01.2023 14:06 успешно создан!
            span Вы можете следить за выполнением своего заказа в #[a(href="index.html") Личном кабинете] сайта.
            a.button.gray(href="index.html") на главную