section.instruction
    div.container

        div.title
            h3 Как вернуть товар?
            span Внимание, к данным способам не относится товар, который вы хотите обменять.

        table
            thead
                tr
                    td Способ возврата
                    td Куда обратиться
                    td Какой товар можно возвращать
                    td Возврат денег
                    td Потрачен­ное время
            tbody
                tr
                    td Возврат в магазине* #[span м. Строгино, улица Кулакова 20с1А, Технопарк Орбита]
                    td(data-text="Куда обратиться") На кассу
                    td(data-text="Какой товар можно возвращать") Любой товар**
                    td(data-text="Возврат денег"): div.cell В течение 10 дней #[span после получения на склад в Строгино]
                    td(data-text="Потраченное время") 5–10 мин
                tr
                    td В пункт выдачи СДЭК #[span г. Москва, улица Твардовского 2к4с1]
                    td(data-text="Куда обратиться"): div.cell #[span.tel по телефону] #[a(href="tel:88002011463") 8 800 201-14-63]
                    td(data-text="Какой товар можно возвращать") Любой товар**
                    td(data-text="Возврат денег"): div.cell В течение 10 дней #[span после получения на склад в Строгино]
                    td(data-text="Потраченное время") 5–10 мин
                tr
                    td Почтой России #[span 123458, г. Москва, посылка до востребования]
                    td(data-text="Куда обратиться"): div.cell #[span.tel по телефону] #[a(href="tel:88002011463") 8 800 201-14-63]
                    td(data-text="Какой товар можно возвращать") Любой товар**
                    td(data-text="Возврат денег"): div.cell В течение 10 дней #[span после получения на склад в Строгино]
                    td(data-text="Потраченное время") 5–10 мин
                tr
                    td Курьером на адрес офиса #[span г. Москва, улица Кулакова 20с1А, Технопарк Орбита (с 10 до 17 часов по Москве, по выходным и праздничным дням нас нет в офисе)]
                    td(data-text="Куда обратиться"): div.cell #[span.tel по телефону] #[a(href="tel:88002011463") 8 800 201-14-63]
                    td(data-text="Какой товар можно возвращать") Любой товар**
                    td(data-text="Возврат денег"): div.cell В течение 10 дней #[span после получения на склад в Строгино]
                    td(data-text="Потраченное время") 5–10 мин
        
        div.notes
            div.note
                span.stars *
                span При возврате товара доставка на наш склад оплачивается клиентом. В случае, если посылка была отправлена с оплатой при получении, деньги за возврат товара будут возвращены за вычетом доставки.
            div.note
                span.stars **
                span Спортивные бра относятся к 1 слою одежды. Согласно Закону о защите прав потребителей одежда 1-го слоя не подлежит обмену и возврату. Мы принимаем к обмену и возврату спортивные бра, только если товар не был в употреблении и бирка не оторвана. BeSelf оставляет за собой право отказать в возврате, который не соответствует стандартам компании (грязные, в тональном средстве, с сильным запахом духов и тд) и вернёт одежду за свой счёт обратно вам.