section.return
    div.container

        h3 ВОЗВРАТ

        div.accordions
            div.accordion
                div.accordion_caption
                    strong Возврат товара надлежащего качества
                    img(src="images/select_arrow.svg", alt="")
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            p Товар можно вернуть в течение 14 календарных дней после получения заказа. В посылке у вас будет накладная — не выбрасывайте её, она понадобится для оформления возврата. При возврате товара доставка до нашего офиса/склада оплачивается клиентом.
                            p BeSelf оставляет за собой право отказать в возврате, который не соответствует стандартам компании (грязные, в тональном средстве, с сильным запахом духов и тд) и вернёт одежду за свой счёт обратно вам.
                            i * Спортивные бра относятся к 1 слою одежды. Согласно Закону о защите прав потребителей одежда 1-го слоя не подлежит обмену и возврату. Мы принимаем к обмену и возврату спортивные бра, только если товар не был в употреблении и бирка не оторвана. Если бирка отсутствует/оторвана, то спортивные бра к обмену и возврату не принимаются
                            a.link(href="index.html") ИНСТРУКЦИЯ ВОЗВРАТА
        div.accordion
            div.accordion_caption
                strong Возврат товара ненадлежащего качества
                img(src="images/select_arrow.svg", alt="")
            div.accordion_content
                div.accordion_overflow
                    div.accordion_wrap
                        p Если вы получили товар с браком или товар не соответствующий вашему заказу — напишите нам на vozvrat@beselfwear.ru или в WhatsApp, указав в письме номер заказа, фото товара и опишите ситуацию. Наши менеджеры свяжутся с вами и решат проблему.
                        p Мы вернём полную стоимость повреждённого товара, обратной пересылки (если она производилась за счёт клиента и имеется чек об оплате отправки). Или отправим вам замену. #[br]При частичном возврате стоимость доставки и обратной пересылки не возвращается. #[br]Гарантия на товар — 45 дней с момента получения.
                        p BeSelf оставляет за собой право отказать в возврате, который не соответствует стандартам компании и вернёт одежду за свой счёт обратно вам.
                        i * В случае, если после носки изделия вы обнаружили незначительный изъян, который не влияет на внешний вид изделия, данный товар не меняется. Такой товар меняется на новую продукцию только в случае, если товар не носили и сохранены бирки на товаре.

        div.banner
            div.icon
                img(src="images/service/return_icon_2.svg", alt="")
            div.text
                strong Правила возврата денежных средств
                p Возврат денежных средств осуществляется в той же форме, в какой была произведена оплата. Если заказ был оплачен по безналичному расчёту, то получить денежные средства за товар вы сможете тоже только по безналичному расчёту: деньги возвращаются на расчётный счёт или банковскую карту, с которых осуществлялся платёж. В розничном магазине возврат денежных средств за интернет-заказы невозможен.