section.swap
    div.container

        h3 Обмен

        div.banner
            div.icon
                img(src="images/service/return_icon_1.svg", alt="")
            div.text
                strong Как производится обмен?
                p Вы можете оформить обмен на любой другой товар с нашего сайта в течение 14 дней с момента получения заказа!
                p Для этого: оформите новый заказ, не оплачивайте его, в комментарии укажите «Обмен» — Наши менеджеры свяжутся с вами и помогут все оформить экономя ваше время.
                i Совершить обмен товара в нашем розничном магазине BeSelf на метро Динамо нельзя, если вы заказывали товар в интернет-магазине. В магазин можно только сдать товар для возврата. После чего товар доставляется на центральный склад, где обрабатывают возврат заказа из интернет-магазина.
                i В розничном магазине возврат денежных средств за интернет-заказы невозможен.

        div.accordions
            div.accordion
                div.accordion_caption
                    strong Условия обмена
                    img(src="images/select_arrow.svg", alt="")
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            ul
                                li 1. Товар приобретён на сайте BESELFWEAR.RU
                                li 2. Товар находиться в идеальном состоянии (не был в употреблении, не подвергался стирке, имеет внутренние этикетки и ярлыки)
                                li 3. Товар отправляется в фирменном zip пакете.
                                li 4. Прошло не больше 14 дней со дня получения заказа
            div.accordion
                div.accordion_caption
                    strong Как обменять на другой размер?
                    img(src="images/select_arrow.svg", alt="")
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            p Если вам не подошла купленная вещь по размеру, вы можете обменять её на другой размер при условии, что он есть в наличии. В этом случае, обмен производится по стоимости действующей на момент покупки. Для этого сделайте новый заказ на сайте, в комментарии укажите «Обмен на другой размер», не оплачивайте заказ, мы с вами свяжемся!
            div.accordion
                div.accordion_caption
                    strong Как обменять на другой товар?
                    img(src="images/select_arrow.svg", alt="")
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            p Если купленная вами вещь не подошла или не понравилась, вы можете обменять её на любое другое изделие с нашего сайта с доплатой или возвратом разницы в стоимости. Для этого сделайте новый заказ на сайте, в комментарии укажите «Обмен на другой товар», не оплачивайте заказ, мы с вами свяжемся! Либо пишите нам в WhatsApp по поводу обмена.
            div.accordion
                div.accordion_caption
                    strong Расходы на возврат неподошедшего товара при обмене
                    img(src="images/select_arrow.svg", alt="")
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            p Расходы на возврат неподошедшего товара при обмене мы берём на себя, вам ни о чем не нужно беспокоиться — наши менеджеры оформят заявку на отправку с удобного для вас пункта выдачи заказов. #[br]Доставка обменянного товара клиенту за наш счёт через ПВЗ СДЭК и Почтой России. (начиная с 18.11.21).
                            p Бесплатный обмен действует один раз на один заказ и только через ПВЗ СДЭК или Почту России. #[br]Если вам нужна курьерская доставка СДЭК, DHL, то мы выставим вам счёт на доплату разницы в доставках.
                            p Данные условия по обмену товара не относятся к международным заказам. Отправки международных заказов для обмена оплачиваются клиентом до нашего склада и обратно до клиента в его страну.