section.blog
    div.container
        h2 Блог

        div.main
            div.article_big
                div.image
                    a(href="article.html"): img(src="images/blog/1.webp", alt="")
                a.tag(href="blog.html") Спорт
                div.time
                    include ../../../images/clock.svg
                    span 5 мин
                a(href="article.html"): h3 BeSelf на фестивале Мастеров спорта в Лужниках

            div.list

                div.article_short
                    div.image
                        a(href="article.html"): img(src="images/blog/6.webp", alt="")
                    div.description
                        div.tags
                            a.tag(href="blog.html") Спорт
                            a.tag(href="blog.html") Стиль
                            a.tag(href="blog.html") Советы
                        div.text
                            a(href="article.html"): h3 Функцио­нальный тренинг
                            span Тренировка из категории кардио — это любая физическая активность…
                        div.info
                            span.date 27.06.2023
                            div.time
                                include ../../../images/clock.svg
                                span 5 мин
                div.article_short
                    div.image
                        a(href="article.html"): img(src="images/blog/5.webp", alt="")
                    div.description
                        div.tags
                            a.tag(href="blog.html") Спорт
                            a.tag(href="blog.html") Стиль
                            a.tag(href="blog.html") Советы
                        div.text
                            a(href="article.html"): h3 Как выбрать одежду для йоги
                            span Тренировка из категории кардио — это любая физическая активность…
                        div.info
                            span.date 27.06.2023
                            div.time
                                include ../../../images/clock.svg
                                span 5 мин

        div.sort
            div.tags
                a.tag(href="blog.html") Все
                a.tag(href="blog.html") Спорт
                a.tag(href="blog.html") Стиль
                a.tag(href="blog.html") СМИ о нас
                a.tag(href="blog.html") Советы
            fieldset.select
                div(tabindex="0").current
                    input(type="radio", id="select_0", value="1", name="Select", checked="checked")
                    span По популярности
                    input(type="radio", id="select_1", value="2", name="Select")
                    span По возрастанию цены
                    input(type="radio", id="select_2", value="3", name="Select")
                    span По убыванию цены
                    input(type="radio", id="select_3", value="4", name="Select")
                    span Сначало новые
                    input(type="radio", id="select_4", value="5", name="Select")
                    span По названию
                    img(src="images/filter_arrow.svg", alt="")
                div.list
                    label(for="select_0") По популярности
                    label(for="select_1") По возрастанию цены
                    label(for="select_2") По убыванию цены
                    label(for="select_3") Сначало новые
                    label(for="select_4") По названию

        div.articles

            div.big
                div.list
                    -for( x = 2; x <= 9; x++ )
                        div.article
                            div.image
                                a(href="article.html"): img(src="images/blog/" + x + ".webp", alt="")
                                a.tag(href="blog.html") Спорт
                            div.text
                                span.date 27.06.2023
                                a(href="article.html"): h3 Как подобрать спортивный топ-бра?
                                span Никому не нравится, когда грудь во время пробежки и других подвижных тренировок находится в свободном полёте. И едва ли доставляют радость красные следы и полосы…
                div.pagination
                    button Показать ещё
                    div.pages
                        a(href="blog.html").active 1
                        a(href="blog.html")  2
                        a(href="blog.html")  3
                        a(href="blog.html")  4
                        a(href="blog.html")  5
                        a(href="blog.html")  6
                        a(href="blog.html")  …
                        a(href="blog.html")  10

            div.shorts
                div.category
                    h3 Спорт
                    div.list
                        -for( x = 7; x <= 8; x++ )
                            div.article_short
                                div.image
                                    a(href="article.html"): img(src="images/blog/" + x + ".webp", alt="")
                                div.description
                                    div.text
                                        a(href="article.html"): h3 Функцио­нальный тренинг
                                        span Тренировка из категории кардио — это любая физическая активность…
                                    div.info
                                        span.date 27.06.2023
                                        div.time
                                            include ../../../images/clock.svg
                                            span 5 мин
                div.category
                    h3 Стиль
                    div.list
                        -for( x = 12; x <= 13; x++ )
                            div.article_short
                                div.image
                                    img(src="images/blog/" + x + ".webp", alt="")
                                div.description
                                    div.text
                                        h3 Функцио­нальный тренинг
                                        span Тренировка из категории кардио — это любая физическая активность…
                                    div.info
                                        span.date 27.06.2023
                                        div.time
                                            include ../../../images/clock.svg
                                            span 5 мин
                div.category
                    h3 СМИ о нас
                    div.list
                        -for( x = 9; x <= 11; x++ )
                            div.article_short
                                div.image
                                    img(src="images/blog/" + x + ".webp", alt="")
                                div.description
                                    div.text
                                        h3 Функцио­нальный тренинг
                                        span Тренировка из категории кардио — это любая физическая активность…
                                    div.info
                                        span.date 27.06.2023
                                        div.time
                                            include ../../../images/clock.svg
                                            span 5 мин