section.article
    div.container
        a.back(href="javascript:history.back()")
            img(src="images/product/back_arrow.svg", alt="")
            span Назад
        div.navigation
            ul
                li: a(href="#section_1")  Коллекция MOTION
                li: a(href="#section_2")  Преимущества Supplex
                li: a(href="#section_3")  Коллекция STELLAR
                li: a(href="#products_slider")  Товары в статье
        div.content
            h2 Эффектная спортивная одежда из ткани Supplex
            div.info
                span.date 27.06.2023
                div.time
                    include ../../../images/clock.svg
                    span 5 мин
            p Это коллекции Motion (в 13-ти цветах) и Stellar (в 4-х цветах) – они идеально подходят для любых видов спортивных тренировок различных уровней интенсивности, обеспечивая полную свободу движений. Облегая каждый изгиб вашего тела и рельеф мышц, эта одежда выгодно подчеркнёт вашу физическую форму, а также скроет некоторые недостатки. Наша одежда позволяет создать качественный стильный образ, который выделит вас из толпы. Ниже мы подробнее расскажем об этой инновационной ткани с большим количеством преимуществ.

            div.gallery.two
                img(src="/images/blog/4.webp", alt="", lightbox="article")
                img(src="/images/blog/5.webp", alt="", lightbox="article")

            h3#section_1 Коллекция MOTION
            p Ткань Supplex (cаплекс) – это высококачественная ткань, состоящая из волокон нейлона. На ощупь и внешний вид она схожа с мягким хлопком. Эта ткань гораздо мягче обычного нейлона, она изготовлена из более тонких нитей. Одежда из ткани Supplex необычайно приятная на ощупь, в ней вы будете чувствовать себя, как в мягком нежнейшем хлопке. Этот материал — запатентованная разработка американской фирмы DuPont. Используется для пошива повседневной, спортивной одежды, а также для изготовления купальников и плавок. Сохнет быстрее хлопка на 28% (от полного намокания). В комбинации с лайкрой растягивается на 500%.

            strong#section_2 Преимущества изделий из волокна Supplex
            ul.disc
                li приятные, эластичные и хорошо растяжимые;
                li очень прочные на разрыв;
                li обеспечивают полную свободу движений;
                li сохраняют форму, не деформируются, даже после нескольких лет интенсивной стирки;
                li отлично переносят заломы;
                li приспосабливаются к форме тела и подходят для большинства размеров;
                li улучшают форму тела, скрывая недостатки;
                li требуется значительно более короткое время сушки, чем для хлопка (30–36%);
                li не выцветают — очень долго сохраняют первоначальный цвет;
                li не линяют;
                li гипоаллергенны;
                li имеют лёгкий вес;
                li защищают от ветра и вредных ультрафиолетовых лучей;
                li отлично пропускают воздух и отводят влагу;
                li на 36% мягче, чем обычный нейлон.

            div.gallery
                img(src="/images/blog/14.webp", alt="", lightbox="article")

            p Отличительным свойством волокна является его способность пропускать воздух, то есть фактически вы получаете ткань с такими же «дышащими» свойствами, как хлопок, но с гораздо более высокими износостойкими свойствами. В топе, кофте и лосинах из этого материала ваша кожа будет дышать, а образовавшаяся влага высохнет гораздо быстрее, чем в изделиях из натурального хлопка, и вы будете чувствовать себя комфортно и уверено. Ткань способна очень сильно растягиваться и возвращаться в свою первоначальную форму без разрушения волокон. При этом она обладает высокими компрессионными качествами, благодаря чему будет создаваться более стройный силуэт: скрываются недостатки (целлюлит, излишки в объёмах) и подчёркиваются достоинства. Возвращаясь к износостойкости спортивной одежды из коллекций Motion и Stellar, хотим отметить, что во время тренировок в этих комплектах не рекомендуется использование любых спортивных резинок.

            div.gallery.two
                img(src="/images/blog/6.webp", alt="", lightbox="article")
                img(src="/images/blog/7.webp", alt="", lightbox="article")

            h3#section_3 Коллекция STELLAR
            p Разнообразие расцветок данных линеек на нашем сайте вас приятно удивит, и вы обязательно найдёте свой цвет…или цвета.

            div.gallery.two
                img(src="/images/blog/8.webp", alt="", lightbox="article")
                img(src="/images/blog/9.webp", alt="", lightbox="article")
                img(src="/images/blog/10.webp", alt="", lightbox="article")
                img(src="/images/blog/11.webp", alt="", lightbox="article")
                img(src="/images/blog/12.webp", alt="", lightbox="article")
                img(src="/images/blog/13.webp", alt="", lightbox="article")

            div.additional
                div.socials
                    a(href="###")
                        include ../../../images/telegram.svg
                    a(href="###")
                        include ../../../images/whatsapp.svg
                    a(href="###")
                        include ../../../images/instagram.svg
                a.tag(href="blog.html") Спорт