section.navigation
    div.container
        
        a(href="article.html").prev
            div.image
                img(src="images/collections/other/1.webp", alt="")

            div.arrow
                include ../../../images/swiper_arrow.svg

            div.text
                span
                    include ../../../images/page_navigation_arrow.svg
                    | Предыдущая статья
                h3 Как выбрать одежду для йоги

        a(href="article.html").next
            div.text
                span 
                    | Следующая статья
                    include ../../../images/page_navigation_arrow.svg
                h3 Функцио­­нальный тренинг

            div.arrow
                include ../../../images/swiper_arrow.svg

            div.image
                img(src="images/collections/other/1.webp", alt="")
