section.navigation
    margin-top: 100px
    margin-bottom: 100px
    +screen(m)
        margin-top: 80px
        margin-bottom: 80px
    +screen(s)
        font-size: 12px

    div.container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        +screen(1280px)
            padding-left: unset
            padding-right: unset
        +screen(s)
            grid-template-columns: 1fr

    a.prev, a.next
        display: grid
        align-items: center
        height: 280px
        width: 100%
        border-top: 1px solid #E4E5E5
        border-bottom: 1px solid #E4E5E5
        +screen(1280px)
            height: unset

        div.image
            position: relative
            height: 100%
            width: 100%
            +screen(1280px)
                display: none
            img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center center
                position: absolute
                top: 0
                left: 0
        &:hover
            background-color: #C6D6E7
            div.text
                span
                    color: #A1A1A1
                    svg
                        path
                            fill: #A1A1A1
            div.arrow
                background-color: white

    a.prev
        grid-template-columns: 260px max-content auto
        border-right: 1px solid #E4E5E5
        +screen(1280px)
            grid-template-columns: max-content auto
        +screen(s)
            grid-template-columns: 1fr
            justify-content: center
            justify-items: center
            text-align: center
            div.text
                justify-items: center

        div.text
            svg
                transform: rotate(180deg)

        div.arrow
            margin-left: 30px

    a.next
        grid-template-columns: auto max-content 260px
        justify-content: end
        +screen(1280px)
            grid-template-columns: auto max-content
        +screen(s)
            grid-template-columns: 1fr
            justify-content: center
            justify-items: center
            text-align: center
            div.text
                justify-items: center

        div.arrow
            transform: rotate(180deg)
            margin-right: 30px

    div.text
        margin: 60px 30px
        max-width: 240px
        display: grid
        grid-gap: 10px
        +screen(s)
            margin: 32px

        h3
            +screen(s)
                font-size: 14px

        span
            svg
                display: none
            +screen(s)
                display: grid
                align-items: center
                grid-auto-flow: column
                grid-auto-columns: max-content
                grid-gap: 5px
                svg
                    display: block
                    path
                        fill: #4E5154

    div.arrow
        cursor: pointer
        display: grid
        align-items: center
        justify-items: center
        border: 1px solid #C6D6E7
        width: 57px
        height: 57px
        border-radius: 999px
        +screen(s)
            display: none
        svg
            height: 13px
            width: 8px
            +screen(s)
                height: 7px
                width: 5px
            path
                fill: #4E5154
                stroke-width: 0.6px
                stroke: #4E5154