extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/blog.css")

block content
    include sections/blog/_breadcrumbs.pug
    include sections/blog/_blog.pug

    - var arrows = true
    - var products_slider_title = 'Хиты продаж'
    include elements/_products_slider.pug
    
    include sections/_seo.pug