extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/cloth.css?version=1")

block content
    include sections/cloth/_breadcrumbs.pug
    include sections/cloth/_cloth.pug
    
    include sections/_seo.pug