extends common/_layout.pug

block content
    section.pages
        div.container
            br
            br
            br
            h2 Страницы
            br
            p: a(href="index.html", target="blank") Главная
            p: a(href="catalog.html", target="blank") Каталог
            p: a(href="category.html", target="blank") Коллекция
            p: a(href="product.html", target="blank") Продукт
            p: a(href="favourite.html", target="blank") Избранное
            p: a(href="favourite.empty.html", target="blank") Избранное - Пустое
            //- p: a(href="cart.html", target="blank") Корзина
            //- p: a(href="cart.empty.html", target="blank") Корзина - Пустая
            br
            p: a(href="delivery.html", target="blank") Доставка
            p: a(href="return.html", target="blank") Сервис и поддержка
            p: a(href="payment.html", target="blank") Оплата
            p: a(href="faq.html", target="blank") Вопросы и ответы
            p: a(href="loyalty.html", target="blank") Программа лояльности
            br
            p: a(href="cloth.html", target="blank") Ткани
            p: a(href="wholesale.html", target="blank") Опт
            p: a(href="blog.html", target="blank") Блог
            p: a(href="article.html", target="blank") Статья
            p: a(href="shops.html", target="blank") Магазины
            p: a(href="partners.html", target="blank") Партнёры
            p: a(href="contacts.html", target="blank") Контакты
            p: a(href="about.html", target="blank") О нас
            br
            p: a(href="offer.html", target="blank") Оферта
            p: a(href="policy.html", target="blank") Политика конфиденциальности
            p: a(href="success.html", target="blank") Успешное оформление
            p: a(href="404.html", target="blank") 404
            br
            br
            br
            br
            h2 Модальные окна
            br
            p: a(data-modal-target="authorise") Авторизация
            p: a(data-modal-target="register") Регистрация
            p: a(data-modal-target="password") Восстановление пароля
            p: a(data-modal-target="recover") Смена пароля
            p: a(data-modal-target="callback") Оставить заявку
            p: a(data-modal-target="city") Выбор города
            p: a(data-modal-target="sizes") Таблица размеров
            p: a(data-modal-target="review") Новый отзыв
            p: a(data-modal-target="unsubscribe") Отписка от рассылки
            p: a(data-modal-target="unsubscribe_confirm") Успешная отписка
            p: a(data-modal-target="client") Клиент
            p: a(data-modal-target="dolyame") Долями
            p: a(data-modal-target="product") Быстрый просмотр
            br
            br
            br
            br