extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/page.css?version=1")

block content
    section.breadcrumbs
        div.container
            a(href="index.html") Главная
            span Политика конфиденциальности

    section.page
        div.container
            div.wrap
                h2 Политика конфиденциальности

                h3 Политика конфиденциальности персональных данных
                p Настоящая Политика конфиденциальности персональных данных (далее — Политика конфиденциальности) действует в отношении всей информации, которую сайт BeSelfwear, расположенный на доменном имени #[a(href="https://beselfwear.ru") beselfwear.ru] (а также его субдоменах), может получить о Пользователе во время использования сайта #[a(href="https://beselfwear.ru") beselfwear.ru] (а также его субдоменов), его программ и его продуктов.

                h3 1 — Определение терминов
                p 1.1 В настоящей Политике конфиденциальности используются следующие термины:
                p 1.1.1. «Администрация сайта» (далее — Администрация) – уполномоченные сотрудники на управление сайтом BeSelfwear, которые организуют и (или) осуществляют обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                p 1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определённому, или определяемому физическому лицу (субъекту персональных данных).
                p 1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                p 1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                p 1.1.5. «Сайт BeSelfwear» - это совокупность связанных между собой веб-страниц, размещённых в сети Интернет по уникальному адресу (URL): #[a(href="https://beselfwear.ru") beselfwear.ru], а также его субдоменах.
                p 1.1.6. «Субдомены» - это страницы или совокупность страниц, расположенные на доменах третьего уровня, принадлежащие сайту BeSelfwear, а также другие временные страницы, внизу который указана контактная информация Администрации
                p 1.1.7. «Пользователь сайта BeSelfwear» (далее Пользователь) – лицо, имеющее доступ к сайту BeSelfwear, посредством сети Интернет и использующее информацию, материалы и продукты сайта BeSelfwear.
                p 1.1.8. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
                p 1.1.9. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, через который Пользователь получает доступ на.

                h3 2 — Общие положения
                p 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации при регистрации на сайте BeSelfwear или при подписке на информационную email рассылку.
                p 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения форм на сайте BeSelfwear и включают в себя следующую информацию:
                p 3.2.1. фамилию, имя, отчество Пользователя;
                p 3.2.2. контактный телефон Пользователя;
                p 3.2.3. адрес электронной почты (email)
                p 3.2.4. место жительство Пользователя (при необходимости)
                p 3.3. защищает Данные, которые автоматически передаются при посещении страниц: #[br] IP адрес #[br] информация из cookies #[br] информация о браузере #[br] время доступа реферер (адрес предыдущей страницы)
                p 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта, требующим авторизации.
                p 3.3.2. осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью предотвращения, выявления и решения технических проблем.
                p 3.4. Любая иная персональная информация неоговоренная выше (история посещения, используемые браузеры, операционные системы и т.д.) подлежит надёжному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. настоящей Политики конфиденциальности.

                h3 4 — Цели сбора персональной информации пользователя
                p 4.1. Персональные данные Пользователя Администрация может использовать в целях:
                p 4.1.1. Идентификации Пользователя, зарегистрированного на сайте BeSelfwear для его дальнейшей авторизации.
                p 4.1.2. Предоставления Пользователю доступа к персонализированным данным сайта BeSelfwear.
                p 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта BeSelfwear, обработки запросов и заявок от Пользователя.
                p 4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
                p 4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
                p 4.1.6. Создания учётной записи для использования частей сайта BeSelfwear, если Пользователь дал согласие на создание учётной записи.
                p 4.1.7. Уведомления Пользователя по электронной почте.
                p 4.1.8. Предоставления Пользователю эффективной технической поддержки при возникновении проблем, связанных с использованием сайта BeSelfwear.
                p 4.1.9. Предоставления Пользователю с его согласия специальных предложений, новостной рассылки и иных сведений от имени сайта BeSelfwear.

                h3 5 — Способы и сроки обработки персональной информации
                p 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
                p 5.2. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
                p 5.3. При утрате или разглашении персональных данных Администрация вправе не информировать Пользователя об утрате или разглашении персональных данных. 5.4. Администрация принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
                p 5.5. Администрация совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.

                h3 9 — Дополнительные условия
                p 9.1. Администрация вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                p 9.2. Новая Политика конфиденциальности вступает в силу с момента её размещения на сайте BeSelfwear, если иное не предусмотрено новой редакцией Политики конфиденциальности.
                p 9.3. Все предложения или вопросы касательно настоящей Политики конфиденциальности следует сообщать по адресу: #[a(href="mailto:info@beselfwear.ru") info@beselfwear.ru]
                p 9.4. Действующая Политика конфиденциальности размещена на странице по адресу:
                p #[a(href="https://beselfwear.ru/page/politika") www.beselfwear.ru/page/politika] #[br] 
                p ИП Краснова Наталья Евгеньевна #[br] ОГРНИП: 318774600187442 #[br] ИНН: 773401598468 #[br] Банк: АО «ТИНЬКОФФ БАНК» #[br] Р/с: 40802810800001177216 #[br] БИК: 044525974

