extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/return.css")

block content
    include sections/return/_breadcrumbs.pug
    include sections/return/_main.pug
    include sections/return/_swap.pug
    include sections/return/_return.pug
    include sections/return/_instruction.pug
    
    include sections/_seo.pug