extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/shops.css")

block content
    include sections/shops/_breadcrumbs.pug
    include sections/shops/_shops.pug
    
    include sections/_seo.pug