extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/wholesale.css?version=1")

block content
    include sections/wholesale/_breadcrumbs.pug
    include sections/wholesale/_main.pug
    include sections/wholesale/_about.pug
    include sections/wholesale/_advanatages.pug
    include sections/wholesale/_material.pug
    include sections/wholesale/_benefit.pug
    include sections/wholesale/_wonders.pug
    include sections/wholesale/_world.pug
    include sections/wholesale/_cooperation.pug
    include sections/wholesale/_consulting.pug 
    include sections/_seo.pug