section.contacts
    div.container
        h2 Контакты
        div.image
            img(src="images/office.webp", alt="")
        div.content
            strong Служба поддержки:
            a(href="tel:88002011463").icon
                img(src="images/contacts_phone.svg", alt="")
                span 8 800 201-14-63
            i (ежедневно с 10:00 до 22:00)
            span Заказы принимаются круглосуточно, обрабатываются в рабочее время.
            strong Вопросы по поводу ассортимента, заказа, работы интернет магазина, узнать условия оптового заказа:
            a(href="tel:89014055085").icon
                img(src="images/contacts_phone.svg", alt="")
                span +7 901 405-50-85
            a(href="mailto:info@beselfwear.ru").icon
                img(src="images/contacts_email.svg", alt="")
                span info@beselfwear.ru
            strong По всем вопросам информационного сотрудничества обращайтесь, кросс-промо:
            a(href="mailto:a.titova.voskhodova@beselfwear.ru").icon
                img(src="images/contacts_email.svg", alt="")
                span a.titova.voskhodova@beselfwear.ru