section.map
    div.container
        div.title
            strong Адрес офиса в Москве
            span Адрес: Москва, Ленинградский проспект 36, ТЦ Арена Плаза, 1 этаж

        div.map
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6547212251bcdda295cd8eafbb6fa6793b25a0b0f43ad302cba77924caec09d6&amp;source=constructor" width="100%" height="631" frameborder="0"></iframe>
        