section.requisite
    div.container
        h2 Реквизиты

        div.block
            span ИП Краснова Наталья Евгеньевна
            span ОГРНИП: 318774600187442
            span ИНН: 773401598468
            span Банк: АО «ТИНЬКОФФ БАНК»
            span Р/с: 40802810800001177216
            span БИК: 044525974