dialog(data-modal-name="client")
    div.container

        div(data-modal-close).cross
            include ../../../images/cross.svg

        div.content
            div.image
                img(src="images/collections/other/1.webp", alt="")
            div.text
                div.title
                    div.symbol
                        include ../../../images/logotype_symbol.svg
                        h3 @beself_activewear 
                    div.likes
                        include ../../../images/favourite.svg
                        span 2.0k
                    div.comments
                        include ../../../images/instagram_comment.svg
                        span 190
                div.products
                    div.instagram_product
                        span Лосины морская волна PUSH UP
                        strong 1 145 ₽
                        button.gray в корзину
                    div.instagram_product
                        span Топ-бра молочный SOFT COVER
                        strong 1 145 ₽
                        button.gray в корзину
                div.comment
                    span Даже не верится, что первая половина лета уже прошла! Поэтому, нужно как можно больше прогулок, летних веранд и танцев под луной
                    i Артикул лосины: 04400210
                    i Артикул топ-бра: 04400210
                div.note
                    span БЕСПЛАТНАЯ ДОСТАВКА по России при заказе от 5,000 ₽. Оплата частями
                    span Обмен/Возврат в течение 14 дней, на онлайн-заказы в том числе.