dialog(data-modal-name="dolyame")
    div.container

        div(data-modal-close).cross
            include ../../../images/cross.svg

        div.content
            img(src="images/dolyame.svg", alt="").dolyame

            div.text
                h3 Оплатите долями
                h3 только 25% стоимости покупки

                span Оставшиеся три платежа спишутся автоматически с шагом в две недели

            div.list
                span 13 июля #[br]300 ₽
                span 27 июля #[br]300 ₽
                span 10 августа #[br]300 ₽
                span 24 августа #[br]300 ₽

            ul.tick
                li Оплачивайте покупки частями — по 25% каждые две недели
                li Никаких дополнительных платежей — как обычная оплата картой
                li Соберите корзину на общую сумму до 30 000 ₽ и выберите способ оплаты Долями при оформлении заказа