dialog(data-modal-name="lightbox")
    div(data-modal-close).cross
        include ../../../images/cross.svg
    div.container
        div.images
            div.swiper
                div.swiper-wrapper
            div.swiper-navigation
                div.arrow
                    include ../../../images/swiper_arrow.svg
                div.arrow
                    include ../../../images/swiper_arrow.svg
        div.thumbs
            div.swiper
                div.swiper-wrapper