dialog(data-modal-name="password")
    div.container

        div(data-modal-close).cross
            include ../../../images/cross.svg

        div.content

            div.title
                h3 Восстановление данных
                span Введите ваш адрес электронной почты, и мы отправим на него ссылку для смены пароля

            form(action="") 
                fieldset.text
                    label Email #[span.required *]
                    input(type="text", placeholder=" ", required)

                button(onclick="createDialog('recover')").gray Отправить

            hr

            div.socials
                span Или войдите при помощи:
                div.list
                    a(href="###"): img(src="images/google.png", alt="")
                    a(href="###"): img(src="images/vkontakte.png", alt="")
                    a(href="###"): img(src="images/facebook.png", alt="")
                    a(href="###"): img(src="images/apple.png", alt="")
