section.advantages
    div.container
        h2 BeSelf - яркая и удобная #[br]одежда для фитнеса
        div.list
            div.advantage
                div.icon
                    img(src="images/advantages/1.svg", alt="")
                div.text
                    h3 Функциональные посадки
                    span Спортивная одежда, которая даёт свободу движений для результативных тренировок
            div.advantage
                div.icon
                    img(src="images/advantages/8.svg", alt="")
                div.text
                    h3 Подарок на все случаи жизни
                    span Подарок на все случаи жизни: у нас в продаже есть подарочные карты, выбор номинала за вами!
            div.advantage
                div.icon
                    img(src="images/advantages/2.svg", alt="")
                div.text
                    h3 Доставка
                    span Бесплатная доставка для заказов от 4000 рублей
            div.advantage
                div.icon
                    img(src="images/advantages/4.svg", alt="")
                div.text
                    h3 комфорт
                    span Бренд, рождённый в России в ритме мегаполиса, но с учётом потребности девушек в комфорте, ярком самовыражении и приятных тактильных ощущениях