section.main
    div.container

        div.title
            h2 О BeSelf
            i BeSelf - это Российский бренд одежды для спорта и отдыха. Мы в BeSelf считаем, что спортивная одежда должна быть привлекательной, удобной и быть созвучной с самой жизнью — её активной занятостью, переменами и непрерывным движением.

        div.gallery
            img(src="images/collections/other/1.webp", alt="")
            img(src="images/collections/other/2.webp", alt="")
            img(src="images/collections/other/3.webp", alt="")

        div.row
            h3 Мы бренд спортивной #[br]одежды BeSelf
            div.text
                strong Создавая спортивную одежду, мы понимаем, что она должна быть функциональной, соответствовать вашей потребности свободно двигаться, нравиться себе и не только, а также получать удовольствие от тренировок и приятных тканей, из которых создана одежда BeSelf.
                span Мы создаём изделия такими, какие хотим носить сами, тщательно отбирая ткани, принты, палитру, продумывая модели, чтобы каждый образ был стильным и ярким — будь то подбор эффектных цветов или комбинирование моделей. Большинство наших коллекций капсульные, поэтому можно легко сочетать изделия разных цветов, создавая новые образы.

        div.logoname