section.symbol
    div.container
        div.image
            include ../../../images/logotype_symbol.svg
        div.description
            h2 Наш символ
            span Наш символ — ваша гармония с собой и окружающим миром. Человечек в окружности на одной ноге, а другой отведённой в сторону символизирует умение быть активной и при этом сохранять равновесие. А также мудро смотреть на жизнь, понимая, что от того, насколько нам удаётся поддерживать баланс, зависят отношения с близкими людьми, наш внутренний ресурс и ощущение целостности.
            strong: i Мы идём своим путём, мотивируя девушек и женщин тренироваться с удовольствием для отличного самочувствия и удовлетворения от своего отражения в зеркале.