section.video
    div.container
        h2 Репортаж о бренде BeSelf

        div.video
            img(src="images/index_main.webp", alt="").background
            img(src="images/service/play.svg", alt="").play

            <iframe src="https://www.youtube.com/embed/wCnObEQs-zU?si=nkZgEq9Y_XZ-sEDK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>