section.accordions
    div.container

        div.accordion
            div.accordion_caption
                strong Оплата долями
                img(src="images/select_arrow.svg", alt="")
            div.accordion_content
                div.accordion_overflow
                        div.accordion_wrap.dolyame
                            div.description
                                p Новый сервис для оплаты покупок частями.
                                p Долями — способ онлайн-оплаты банковской картой, позволяющий разделить сумму заказа на 4 части без комиссий и переплат. Первые 25% оплачиваются при оформлении заказа, оставшиеся 3 части автоматически спишутся с карты с интервалом 2 недели. #[br]О наступлении приближающейся даты списания будет отправлено напоминание.
                                strong: i Общая сумма заказа при оплате Долями не должна превышать 30 000 ₽ (во всех онлайн магазинах).
                                div.button
                                    button.gray Ознакомиться с сервисом
                                    span Рамочный Договор поручения по приобретению и оплате товаров, работ и услуг.
                            div.advantages
                                div.advantage
                                    img(src="images/service/payment_icon_1.svg", alt="")
                                    strong Покупайте сразу все
                                    span Можно не откладывать деньги на то, что давно хотели, и купить уже сейчас
                                div.advantage
                                    img(src="images/service/payment_icon_2.svg", alt="")
                                    strong Распределяйте расходы
                                    span Оплачивайте покупки частями — по 25% каждые две недели с зарплаты
                                div.advantage
                                    img(src="images/service/payment_icon_3.svg", alt="")
                                    strong Без процентов и комиссий
                                    span Никаких дополнительных платежей — как обычная оплата картой

        div.accordion
            div.accordion_caption
                strong Оплата банковской картой
                img(src="images/select_arrow.svg", alt="")
            div.accordion_content
                div.accordion_overflow
                    div.accordion_wrap
                        p Свой заказ вы можете оплатить с помощью банковской карты. Для этого на странице оформления заказа нажмите «Оформить заказ». #[br]Оплата происходит через платёжную систему Robocassa с использованием Банковских кредитных карт платёжных систем: Visa, Mastercard, Мир.
                        div.logotypes
                            img(src="images/service/logotypes/1.webp", alt="")
                            img(src="images/service/logotypes/2.webp", alt="")
                            img(src="images/service/logotypes/3.webp", alt="")
                            img(src="images/service/logotypes/4.webp", alt="")
                            img(src="images/service/logotypes/5.webp", alt="")
                            img(src="images/service/logotypes/6.webp", alt="")
                            img(src="images/service/logotypes/7.webp", alt="")
                            img(src="images/service/logotypes/8.webp", alt="")
                            img(src="images/service/logotypes/9.webp", alt="")
                            img(src="images/service/logotypes/10.webp", alt="")
                            img(src="images/service/logotypes/11.webp", alt="")
                            img(src="images/service/logotypes/12.webp", alt="")
                            img(src="images/service/logotypes/13.webp", alt="")
                            img(src="images/service/logotypes/14.webp", alt="")

        div.accordion
            div.accordion_caption
                strong Как происходит процесс оплаты
                img(src="images/select_arrow.svg", alt="")
            div.accordion_content
                div.accordion_overflow
                    div.accordion_wrap
                        ol.list
                            li Заполните данные заказа в корзине, нажмите «Оформить заказ».
                            li У вас откроется страница оплаты Robocassa
                            li Введите данные своей банковской карты.
                            li Нажмите «Оплатить».
                            li Если вы выбрали оплату по данным карты, вам откроется страница для ввода кода подтверждения, который придёт в СМС на ваш мобильный номер, привязанный к карте. Введите код в поле.
                            li После успешной оплаты на ваш email, указанный ранее, поступит чек от Robocassa и придёт письмо на почту, что ваш заказ успешно оплачен.

        div.banner
            div.icon
                img(src="images/service/cancel.svg", alt="")
            div.description
                strong При аннулировании заказа
                span При аннулировании позиций из оплаченного заказа (или при аннулировании заказа целиком) вы можете заказать другой товар на эту сумму, либо вернуть всю сумму на карту связавшись с нами по телефону 8 800 201-14-63 или написав нам в WhatsApp.
                div.button
                    button
                        include ../../../images/whatsapp.svg
                        span Whatsapp
                    span.note Есть вопросы? Напишите нам

