section.main
    div.container
        div.wrap
            h2 Сервис и поддержка

            div.menu
                a(href="delivery.html").link Доставка
                a(href="return.html").link Возврат и обмен
                a(href="payment.html").link.active Оплата
                a(href="faq.html").link Вопросы и ответы

            div.alert
                h3 Внимание!
                span Мы никогда не просим перевести оплату на карту физ.лица, ЯндексДеньги и иные платёжные сервисы! #[br]Оплата заказа производится только на сайте или по официальной ссылке на оплату через платёжную систему Robocassa.







