section.cards
    div.container
        h3 Уровни карт

        div.list
            div.card
                div.preview
                    span.percent 5%
                    span.name Базовая
                div.description
                    h4 Базовая
                    span Сумма накоплений: 4 000 ₽
                    span.discount Размер скидки: 5%
            div.card
                div.preview
                    span.percent 10%
                    span.name Классическая
                div.description
                    h4 Классическая
                    span Сумма накоплений: 20 000 ₽
                    span.discount Размер скидки: 10%
            div.card
                div.preview
                    span.percent 15%
                    span.name Серебряная
                div.description
                    h4 Серебряная
                    span Сумма накоплений: 30 000 ₽
                    span.discount Размер скидки: 15%
            div.card
                div.preview
                    span.percent 20%
                    span.name Золотая
                div.description
                    h4 Золотая
                    span Сумма накоплений: 45 000 ₽
                    span.discount Размер скидки: 20%
            div.card
                div.preview
                    span.percent 25%
                    span.name Платиновая
                div.description
                    h4 Платиновая
                    span Сумма накоплений: 60 000 ₽
                    span.discount Размер скидки: 25%
            div.card
                div.preview
                    span.percent 20%
                    span.name Карта мамы
                div.description
                    h4 Карта мамы
                    span Сумма накоплений: Накопления не требуются, для получения необходимо обратиться к менеджеру интернет-магазина...
                    span.discount Размер скидки: 20%
            div.card
                div.preview
                    span.percent 10%
                    span.name Карта студента
                div.description
                    h4 Карта студента
                    span Сумма накоплений: Накопления не требуются, для получения необходимо обратиться к менеджеру интернет-магазина…
                    span.discount Размер скидки: 10%

        div.notes
            span *Скидка не действует на доставку.
            span *Карта мамы предоставляет скидку 20%. Данная скидка не является накопительной. Если многодетная мама до получения Скидки мамы уже являлась клиентом BeSelf и у неё была накоплена скидка (5%, 10%, 15%), мы изменим в личном кабинете сумму предоставляемой скидки.
            span *Карта студента предоставляет скидку 10%. Если до получения Скидки студента вы являлись обладателем 5% скидки в ЛК, мы изменим в личном кабинете сумму предоставляемой скидки.
