section.conditions
    div.container
        h3 Условия клубной программы
        div.list
            div.condition
                div.icon: img(src="images/advantages/8.svg", alt="")
                strong до 30%
                span Скидка на спортивные #[br]товары
            div.condition
                div.icon: img(src="images/advantages/12.svg", alt="")
                strong 1Б=1 ₽
                span Один бонус равен #[br]одному рублю
            div.condition
                div.icon: img(src="images/advantages/9.svg", alt="")
                strong + ₽
                span Сумма каждой покупки #[br]заносится на вашу карту
            div.condition
                div.icon: img(src="images/advantages/11.svg", alt="")
                strong Только для вас
                span Индивидуальные #[br]предложения
            div.condition
                div.icon: img(src="images/advantages/10.svg", alt="")
                strong Скидки
                span и персональные #[br]предложения