section.faq
    div.container
        h3 Часто задаваемые вопросы
        div.accordions
            div.accordion
                div.accordion_caption
                    strong Регистрация в программе
                    img(src="images/select_arrow.svg", alt="")
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Постоянные покупатели интернет-магазина «BeSelf» могут присоединиться к Программе лояльности. С ней можно не только экономить до 25% от стоимости покупок, но и участвовать в специальных мероприятиях.
                            span Электронные Карты бывают разных уровней: Базовая, Классическая, Серебряная, Золотая, Платиновая. Также есть Карта мамы и Карта Студента. Электронную Карту Клиента можно получить одним способом — онлайн на нашем сайте. Ниже подробнее расскажем, как оформить Карту, какие есть привилегии, что делать, если возникли сложности с активацией карты.
            div.accordion
                div.accordion_caption
                    strong Активация программы лояльности BeSelf
                    img(src="images/select_arrow.svg", alt="")
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Если у вас ещё нет личного кабинета на сайте, зарегистрируйтесь и заполните поля анкеты во вкладке «Личные данные». Если у вас уже есть регистрация в личном кабинете, то вы уже участвуете в программе лояльности. Если вы делали заказы в нашем интернет-магазине, но не проходили регистрацию, зарегистрируйте в личном кабинете и напишите нашему менеджеру. Мы объединим все ваши заказы под одним зарегистрированным личным кабинетом.
            div.accordion
                div.accordion_caption
                    strong Изменение скидки при накоплении суммы
                    img(src="images/select_arrow.svg", alt="")
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Электронная карта не требует замены, новый уровень будет присвоен автоматически, при наступлении нового порога скидки.
                            span Подробно ознакомиться с программой лояльности можно скачав файл.
            div.accordion
                div.accordion_caption
                    strong Где действует программа лояльности
                    img(src="images/select_arrow.svg", alt="")
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Программа лояльности действуйте в интернет-магазине www.beselfwear.ru и в нашем розничном магазине BeSelf