section.how
    div.container
        h3 Как получать бонусы

        div.list
            span При регистрации в лк — 300 баллов
            span В день рождение — 2000 баллов
            span 8 марта — 1000 баллов
            span День рождение бренда — 500 баллов
            span Новый год — 500 баллов

        div.notes
            span * Все баллы можно использовать в течение 3 месяцев. После этого срока они сгорают. 
            span * Списывать баллы можно до 30% от суммы заказа.
            span * Накопительная система и бальная не списывается на скидочные товары и не применяется вместе с промокодами на скидку.
            span * Накопительная система+бальная система может работать одновременно, но скидка общая не больше 30% от общей суммы покупки.

        div.signin
            span Войдите, чтобы участвовать в программе лояльности
            button.gray(data-modal-target="authorise") Войти