section.main
    div.container
        div.text
            h1 Вступай в программу лояльности
            span Привилегии и скидки только для участников. Совершайте покупки, повышайте свой уровень и получайте больше выгоды
            button(data-modal-target="authorise") Присоединиться
    div.background
        img(src="images/index_main.webp", alt="")